

body {
  background-image: url("http://1.bp.blogspot.com/-rN82FQdF6TE/VmmyseuEALI/AAAAAAAAw9s/WD-fnQUJEf4/s1600/Andromeda-Galaxy-Wallpaper-HD-08.jpg");
  background-repeat: no-repeat;
  background-position: top-center;
  
}

h1{
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: Courier;
}
h3{
  font-family: Arial;
  text-align: center;
  font-size: 25px;
  color: white;
}
ul{
  font-size: 25px;
  font-align: center;
  background-color: auto;
  border-radius: 10px;
}
a{
 background-color: none;
  color: red;
  font-size: 30px;
  width: 20px;
  font-family: Verdana;
  
}
table{
  border-radius: 10px;
  border-color: gray;
  height: 45px;
  width: 600px;
  margin: auto;
  text-align: center;
  background-color: gray;
  
  
}
h4{
  color: white;
  background-color: auto;
  width: 600px; 
  
 
}
div{
  color: red;
}
