
h1{
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: Courier;
}
h3{
  font-family: Arial;
  text-align: center;
  font-size: 25px;
  color: black;
}
a{
 background-color: none;
  color: blue;
  font-size: 20px;
  width: auto;
  font-family: Verdana;
}
table{
  border-radius: 10px;
  border-color: gray;
  height: 45px;
  width: 600px;
  margin: auto;
  text-align: center;
  background-color: gray;
}
h4{
  color: black;
  background-color: auto;
  width: 600px; 
}
#section{
  float: center;
}
 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: none;
  position: fixed;
  top: 0;
  width: 100%;
}
li{
  float: left;
  border-right: 1px solid black;
  font-size: 25px;
}
li:last-child{
 border-right: none;
}
a{
  display: block;
  padding: 8px;
}
li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  color: yellow;
}
.active{
  background-color: green;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url('http://cdn.pcwallart.com/images/cool-nature-desktop-backgrounds-wallpaper-1.jpg');
  width: 100%;
  height: 800px;
  
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}
