body{
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
}
//*The h family*//
h1{
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: "Comic Sans MS";
}
h3{
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 25px;
  color: black;
}
h4{
  color: black;
  background-color: auto;
  font-family:"Comic Sans MS";
}
//*"a" code*//
a{
  font-family: "Comic Sans MS";
}
a:hover{
  color: yellow;
}
//*menu bar code*//
table{
  border-radius: 10px;
  border-color: gray;
  height: 45px;
  width: 600px;
  margin: auto;
  text-align: center;
  background-color: none;
}

#section{
  float: center;
}
//*List code*//
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Comic Sans MS";
    font-size: 30px;
    color: blue;
}

li {
    float: left;
    font-family: "Comic Sans MS";
    font-size: 30px;
    color: blue;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    color: yellow;
}
.active{
  background-color: green;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url('http://cdn.pcwallart.com/images/cool-nature-desktop-backgrounds-wallpaper-1.jpg');
  width: 100%;
  height: 100%;

  
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}
u{
  color: blue;
  font-family: "comic Sans MS";
}
