body{
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
}
//*The h family*//
h1{
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: "Comic Sans MS";
  padding: 50px;
}
h3{
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 25px;
  color: black;
}
h4{
  color: black;
  background-color: auto;
  font-family:"Comic Sans MS";
}
//*"a" code*//
a{
  font-family: "Comic Sans MS";
  color: black;
  text-decoration: none;
}
a:hover{
  color: yellow;
}
//*menu bar code*//
table, th, td {
 border-collapse: collapse;
 height: 45px;
 width: 600px;
}
table{
 border-style: solid;
 border-color: blue;
}
th, td {
    padding: 5px;
}
}
#section{
  float: center;
}
//*List code*//
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    float: left;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: blue;
    list-style-type: none;
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    color: yellow;
}
.active{
  background-color: green;
}
li:last-child {
    border-right: none;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  
 
  
  display: block;
  background-image: url('http://cdn.pcwallart.com/images/cool-nature-desktop-backgrounds-wallpaper-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;

  
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}
img{
  position: center center;
  size: cover;
}
.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}
u{
  color: blue;
  font-family: "comic Sans MS";
}
span{
  color: gray;
}
span:hover{
  color: yellow;
}
a, u{
  text-decoration: none;
}
font{
  color: yellow;
}
font:hover{
  color: red;
}
.blogli{
  background-color: none;
}
.side-right{
  background-color: none;
}
