body{
  margin-right: 100px;
  margin-left: 150px;
  background-image: url("http://ecx.images-amazon.com/images/I/C1BUR3BSE8S.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: gray;
  width: 1000px;
  height: 700px;
  opacity: 50%;
}
//*The h family*//
h1{
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: "Varela Round";
}
h3{
  font-family: "Varela Round";
  text-align: center;
  font-size: 25px;
  color: black;
}
h4{
  color: black;
  background-color: auto;
  font-family:"Varela Round";
}
//*"a" code*//
a{
  font-family: "Varela Round";
  color: black;
  text-decoration: none;
}
a:hover{
  color: yellow;
}
//*menu bar code*//
table, th, td {
 border-collapse: collapse;
 height: 45px;
 width: 600px;
}
table{
 border-style: solid;
 border-color: blue;
}
th, td {
    padding: 5px;
}
#section{
  float: center;
}
//*List code*//
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    float: left;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: blue;
    list-style-type: none;
    border-right: none;
    display: block;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: 1px solid white;
    position: center center;
}
/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    color: yellow;
}
.active{
  background-color: #43C6DB;
}
li:last-child {
    border-right: none;
}


  
}
img{
  position: center center;
  size: cover;
}

u{
  color: blue;
  font-family: "Comic Sans MS";
}
span{
  color: gray;
}
span:hover{
  color: yellow;
}
a, u{
  text-decoration: none;
}
font{
  color: yellow;
}
font:hover{
  color: red;
}
.blogli{
  background-color: none;
}
.side-right{
  background-color: none;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
body::-webkit-scrollbar {
    width: 0.9em;
    background-color: #43C6DB;
}
body::-webkit-scrollbar-thumb {
    background-color: blue;
    outline: 1px solid blue;
}
img{
  display: block;
}
.projList{
  font-family: "Comic Sans MS";
  font-size: 20px;
}
.projList:hover{
  color: yellow;
}
.coBlack{
  color: black;
  text-align: left;
  font-weight: bold;
}


