body{
  margin-right: 0px;
  margin-left: 0px;
}
//*The h family*//
h1{
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: Verdana, sans-serif;
}
h3{
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 25px;
  color: black;
}
h4{
  color: black;
  background-color: auto;
  font-family: "Verdana", sans-serif;
}
//*"a" code*//
a{
  font-family: "Comic Sans Ms";
  color: black;
  text-decoration: none;
}
a:hover{
  color: yellow;
}
//*menu code*//
#section{
  float: center;
}
//*List code*//
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    float: left;
    font-family:  Verdana, sans-serif;
    font-size: 20px;
    color: blue;
    list-style-type: none;
    border-right: none;
    display: block;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: 1px solid white;
    position: center center;
}
/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    color: yellow;
}
.active{
  background-color: #43C6DB;
}
li:last-child {
    border-right: none;
}


  
}

u{
  color: blue;
  font-family:  Verdana, sans-serif;
}
span{
  color: gray;
}
span:hover{
  color: yellow;
}
a, u{
  text-decoration: none;
}
font{
  color: yellow;
}
font:hover{
  color: red;
}
.blogli{
  background-color: none;
}
.side-right{
  background-color: none;
}
body::-webkit-scrollbar {
    width: 0.9em;
    background-color: #43C6DB;
}
body::-webkit-scrollbar-thumb {
    background-color: blue;
    outline: 1px solid blue;
}
img{
  display: block;
}
.projList{
  font-family: "Verdan", sans-serif;
  font-size: 20px;
}
.projList:hover{
  color: yellow;
}
.coBlack{
  color: black;
  font-size: 30px;
}
.intro{
  background-image: url("http://www.hdbloggers.net/wp-content/uploads/2016/01/Background.png");
  width: 1348px;
  height: 900%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.nav-icon {
    position: fixed;
    top: 6vh;
    right: 5%;
    height: 29px;
    width: 35px;
    cursor: pointer;
    z-index: 999;
}

.nav-icon span {
    background: black;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
}

.top {
    top: 1px;
}

.middle {
    top: 11px;
}

.bottom {
    top: 21px;
}

.nav-icon.active .top {
    top: 11px;
    
    -ms-transform: rotate(-495deg);
    -webkit-transform: rotate(-495deg); 
    transform: rotate(-495deg);
}

.nav-icon.active .middle {
    opacity: 0;
}

.nav-icon.active .bottom {
    top: 11px;
    
    -ms-transform: rotate(495deg);
    -webkit-transform: rotate(495deg); 
    transform: rotate(495deg);
}

.menu-bar {
    top: 0;
    background:  #008080 repeat left top;
    right: -100%;
    height: 100%;
    position: fixed;
    width: 400px;
    -webkit-transition: .50s;
    -moz-transition: .50s;
    -o-transition: .50s;
    transition: .50s;
    opacity: 0.9;
    z-index: 99;
}

.menu-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-bar li {
    text-align: left;
    text-align: center;
    margin-top: 35vh;
}

.menu-bar li:hover {
    font-weight:bold;
}

.menu-bar a {
    color: rgb(220, 220, 220);
    font-size: 30px;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-family: Candara, sans-serif;
}
.menu-bar a:hover{
  color:yellow;
  font-size: 40px;
}
.show {
    right: 0;   
}
