

body {
  background-image: url("http://1.bp.blogspot.com/-rN82FQdF6TE/VmmyseuEALI/AAAAAAAAw9s/WD-fnQUJEf4/s1600/Andromeda-Galaxy-Wallpaper-HD-08.jpg");
  background-repeat: no-repeat;
  background-position: top-center;
  
}

h1{
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: Courier;
}
h3{
  font-family: Arial;
  text-align: center;
  font-size: 25px;
  color: white;
}
a{
 background-color: gray;
  color: white;
  font-size: 30px;
  width: 20px;
  font-family: Verdana;
  
}
table{
  border-radius: 10px;
  border-color: gray;
  height: 45px;
  width: 600px;
  margin: auto;
  text-align: center;
  background-color: gray;
  
  
}


a{
 background-color: none;
  color: blue;
  font-size: 30px;
  width: 20px;
  font-family: Verdana;
  
}
table{
  border-radius: 10px;
  border-color: gray;
  height: 45px;
  width: 600px;
  margin: auto;
  text-align: center;
  background-color: gray;
  
  
}
h4{
  color: white;
  background-color: auto;
  width: 600px; 
  
 
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
ul.topnav li {float: left;}
}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.topnav li a:hover {background-color: #111;}


ul.topnav li.icon {display: none;}

