body{
  margin-right: 0px;
  margin-left: 0px;
}
//*The h family*//
h1{
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: "Candara", sans-serif;
}
h3{
  font-family: "Candara", sans-serif;
  text-align: center;
  font-size: 25px;
  color: black;
}
h4{
  color: black;
  background-color: auto;
  font-family: "Candara", sans-serif;
}
//*"a" code*//
a{
  font-family: "Candara", sans-serif;
  color: black;
  text-decoration: none;
}
a:hover{
  color: yellow;
}
//*menu code*//
#section{
  float: center;
}
//*List code*//
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    float: left;
    font-family:  "Candara",sans-serif;
    font-size: 20px;
    color: blue;
    list-style-type: none;
    border-right: none;
    display: block;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: 1px solid white;
    position: center center;
}
/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    color: yellow;
}
.active{
  background-color: #43C6DB;
}
li:last-child {
    border-right: none;
}


  
}

u{
  color: blue;
  font-family:  Verdana, sans-serif;
}
span{
  color: gray;
}
span:hover{
  color: yellow;
}
a, u{
  text-decoration: none;
}
font{
  color: yellow;
}
font:hover{
  color: red;
}
.blogli{
  background-color: none;
}
.side-right{
  background-color: none;
}
body::-webkit-scrollbar {
    width: 0.9em;
    background-color: #43C6DB;
}
body::-webkit-scrollbar-thumb {
    background-color: blue;
    outline: 1px solid blue;
}
img{
  display: block;
}
.projList{
  font-family: "Verdan", sans-serif;
  font-size: 20px;
}
.projList:hover{
  color: yellow;
}
.coBlack{
  color: black;
  font-size: 30px;
}
.intro{
  background-image: url("http://www.hdbloggers.net/wp-content/uploads/2016/01/Background.png");
  width: 1348px;
  height: 900%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.menu-icon{
  height: 29px;
  width: 35px;
  z-index: 999;
  position: fixed;
  cursor:pointer;
  top:6vh;
  right:3%;
}

.menu-icon span {
    background: black;
    height: 5px;
    position: absolute;
    -webkit-transition: .45s;
    -moz-transition: .45s;
    -o-transition: .45s;
    transition: .45s;
    width: 100%;
    }
.menu-icon.ak .upper{
  top:11px;
  
  -webkit-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform: rotate(-315deg);
}
.upper{
  top: 1px;
}
.middle{
  top: 11px;
}
.bottom{
  top:21px;
 }
.menu-icon.ak .middle{
  opacity:0;
}

.menu-icon.ak .bottom{
   top:11px;
  -webkit-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform: rotate(315deg);
}

.menuPage{
  top: 0;
    background: #43C6DB  repeat left top;
    height: 100%;
    position: fixed;
    width: 350px;
    -webkit-transition: .50s;
    -moz-transition: .50s;
    -o-transition: .50s;
    transition: .50s;
    opacity: 0.8;
    z-index: 99;
    right: -100%;
}
.menuPage ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.appear{
  right:0;
}
.menuPage li{
  text-align:center;
  margin-top:33vh;
  display:block;
}
.menuPage a {
    color: rgb(220, 220, 220);
    font-size: 40px;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    font-family: Candara, sans-serif;
}
.menuPage a:hover{
  color:yellow;
  font-size:50px;
}
