body{
  margin-right: 0px;
  margin-left: 0px;
}
//*The h family*//
h1{
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: Verdana, sans-serif;
}
h3{
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 25px;
  color: black;
}
h4{
  color: black;
  background-color: auto;
  font-family: "Verdana", sans-serif;
}
//*"a" code*//
a{
  font-family: "Comic Sans Ms";
  color: black;
  text-decoration: none;
}
a:hover{
  color: yellow;
}
//*menu code*//
#section{
  float: center;
}
//*List code*//
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    float: left;
    font-family:  Verdana, sans-serif;
    font-size: 20px;
    color: blue;
    list-style-type: none;
    border-right: none;
    display: block;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: 1px solid white;
    position: center center;
}
/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    color: yellow;
}
.active{
  background-color: #43C6DB;
}
li:last-child {
    border-right: none;
}


  
}
img{
  position: center center;
  size: cover;
}

u{
  color: blue;
  font-family:  Verdana, sans-serif;
}
span{
  color: gray;
}
span:hover{
  color: yellow;
}
a, u{
  text-decoration: none;
}
font{
  color: yellow;
}
font:hover{
  color: red;
}
.blogli{
  background-color: none;
}
.side-right{
  background-color: none;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
body::-webkit-scrollbar {
    width: 0.9em;
    background-color: #43C6DB;
}
body::-webkit-scrollbar-thumb {
    background-color: blue;
    outline: 1px solid blue;
}
img{
  display: block;
}
.projList{
  font-family: "Verdan", sans-serif;
  font-size: 20px;
}
.projList:hover{
  color: yellow;
}
.coBlack{
  color: black;
  font-size: 30px;
}
.intro{
  background-image: url("http://www.hdbloggers.net/wp-content/uploads/2016/01/Background.png");
  width: 1340px;
  height: 900%;
  margin-left: 0px;
  margin-right: 0px;
}
.upper{
  color: black;
  height: 10px;
  width: 20px;
}
